// 主頁的主視覺區塊 ------------------------------------
.banner{
    background-image: url('https://images.unsplash.com/photo-1506846540181-347008948fff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1186&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 480px;
  }
  
//   主頁直播區塊 ------------------------------------
  .mainLiveShow{
    background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/people2.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: auto;
  }
  
  .mainLiveShowContent{
    background-color: rgba(25, 0, 20, 0.7);
  }

  // 訂閱區塊 背景圖 --------------------------------------------
  .subscribeBarBg{
    background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
  }
  
// 藝饗宴作品 背景圖 --------------------------------------------
  .artWorkBg{
    background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/max-van-den-oetelaar-IMYe9uYN27E-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}