body{

    line-height: 1.5;

    *, *::before, *::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        // outline: grey 1px solid;
    }

    a{
        text-decoration: none;
        display: block;
    }

    img{
        vertical-align: middle;
        // RWD 不破圖設定
        max-width: 100%;
        height: auto;
    }
    
}