.navList{
    right: 0;
    top: 50%;
}

.confirmIcon{
}

.confirmNumber{
    right: -12px;
    top: -7px;
    color: white;
    background: #E31277;
    border-radius: 9px;
    width: 22px;
    height: 18px;
}