.orderBtn{
    input{
        width: 46px;
    }
}

.typeBtn{
    border-bottom: 1px solid transparent;
    color: black;

    &:hover{
        border-bottom: 1px solid #E31277;
    }
}

.firstParagraph{
    text-indent: 2rem;
}

.artWorkOne{
    background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/max-van-den-oetelaar-IMYe9uYN27E-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.artWorkTwo{
    img{
        object-fit: cover;
        height: 559px;
    }
}