.orderBtn{
    input{
        width: 46px;
    }
}



.artWorkOne{
    background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/max-van-den-oetelaar-IMYe9uYN27E-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.artWorkTwo{
    img{
        object-fit: cover;
        height: 559px;
    }
}