
// 主頁的卡片 ------------------------------------
.exhibitionImg{
    height: 350px;
    // 原本為height 100%; 導致在手機版上破圖
  img{
    width: 100%; // new
    height: 350px;    // 原本為height: 100%; 導致在手機版上破圖
    object-fit: cover;
    }
  }

.fbIcon{
  margin-left: 10px;
}

// 主頁 直播-------------

.mainLiveShowTitle{
  span{
    border-left: 1px solid white;
  }
}

