<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/bootstrap.css">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
<!------------------------------------------  漢堡選單 ---------------------------------------------------->
    <header class="border border-1 border-mainTextColor">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <!-- 漢堡Btn -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <!-- logo -->
            <a class="navbar-brand text-primary position-lg-absolute top-50 start-50 translate-lg-middle fs-6 fs-md-5" href="./index.html">EXHIBINECTION</a>
            <!-- ticket icon -->
            <a class="position-relative order-lg-3 ms-lg-6 d-block" href="#">
              <span class="confirmIcon d-block material-icons text-mainTextColor">confirmation_number</span>
              <span class="confirmNumber position-absolute text-center fs-10">3</span>
            </a>
            <!-- 漢堡Btn的折疊選單 -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 d-flex justify-content-md-end">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Sign In</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Sign Out</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <%- contents %>

    <footer class="footer">
      <div class="container">
        <div class="innerFooter d-flex justify-content-between align-items-center pt-7 pb-7">
          <ul class="webInfo list-unstyled d-md-flex align-items-center">
            <li class="me-4 text-mainTextColor fs-6 fs-lg-5">EXHIBINECTION</li>
            <li class="text-mainTextColor">© 2020. All Rights Reserved.</li>
          </ul>
          <ul class="footerList list-unstyled d-flex">
            <li class="me-6"><a class="text-mainTextColor d-md-block d-none" href="#">Sign in</a></li>
            <li><a class="text-mainTextColor d-md-block d-none" href="#">Sign up</a></li>
          </ul>
        </div>
        

      </div>
    </footer>

    <!-- JS 放置處 -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>