
// 猜你也喜歡 swiper ------------------------------------------------
// 從 swiper 套件抓下來的東西（非手寫）
.swiper-container {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide{
    img{
      object-fit: cover;
      width: 100%;
      height: 350px;
    }
  }